*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    width: 120px;
    padding-left: 22px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}

#title {
    display: inline;
    line-height: 120px;
    vertical-align: top;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
